*
{
    padding: 0;
    margin: 0;
    color: rgb(3, 2, 24);
    user-select: none;
}
#logo{
    position:relative;
    top: 5vh;
    left: 3vw;
}

#navbar{
    width: 100vw ;
    height: 40vh;
    background-color: rgb(3, 2, 24);
    padding: 1.5%;
    margin-right: 4vw;
    margin-left: -2vw;
    /*position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 10;*/
}
#title{
    color: cornsilk;
    font-family: 'Dancing Script', cursive;;
    font-size: 8vw;
    display: inline-block;
    margin-left: 18vw;
    margin-top: 0;
}
#header button{
    width: 10vw;
    height: 4vh;
    margin-left: 22%;
    border-radius: 14px;
    background-color: rgb(3, 2, 24);
    border: 0;
    position: relative;
    bottom: 5%;
}
#header a{
    color: white;
    text-decoration: none;
    font-size: 3vh;
}

#navbar_2{
    width:75%;
    display: flex;
    margin: auto ;
    margin-top: 5%;

}

.navbar_{
    width: 15%;
    height: 4vh;
    background-color: rgb(3, 2, 24);
    border: 0;
    border-right: 2px solid white;
    margin-top:auto;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.navbar_  a{
    color: white;
    font-size:2.5vh ;
    text-decoration: none;
}

#middle_upper_body{
    display: grid;
    max-width: 90vw;
    max-height: 80vh;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    gap:2%;
    font-weight: bold;
    margin: auto;
    margin-top: 3vh;
    padding: 2%;
}

#bodyimage1{
    height: 40vh;
    width: 25vw;
    border-radius: 50%;
}

#beside_img{
    height: 25vh;
    margin-top: 20vh;
    line-height: 150%;
    border-radius: 8px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(3, 2, 24);
    padding: 3vh;
   
}
#beside_img p{
    color: white;
}

#middle1{
    font-family: 'Varela Round', sans-serif;
}

#belowquote{
    height: 56vh;
    width: 25vw;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 14vh;
    border-radius: 8px;
}

.grid-container2 {
    font-size: 1vw;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
    margin-left: 10vw;
}

.grid-container2 > div {
    background-color:rgb(3, 2, 24);
    border: 1px solid rgb(210, 215, 221);
    text-align: center;
    font-size: 30px;
}

.divs{
    line-height: 20vh;
    height:20vh;
    color: aliceblue;
    text-align: center;
    font-family:papyrus;
    box-shadow: 3px 3px 3px 3px  grey;
}

.divs:hover{
    box-shadow: 4px 4px 4px 4px grey;
    background-color: white;
    transition: 2s;
    
}

.divs a{
    color: aliceblue;
    text-align: center;
    font-family:papyrus;
    text-decoration: none;
}


.divs a:hover {
    color: rgb(3, 2, 24);
}

.footer {
    background-color: #333;
    overflow: hidden;
   /* position: fixed;    */
    bottom: 0;
    width: 100%;
}

.footer a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.footer a:hover {
    background: #f1f1f1;
    color: black;
}

.footer a.active {
  background-color: #04AA6D;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

#idjbc{
    padding-top: 30vh;
}

.kamaal_ka_footer2{
    background-color: #24262b;
    padding: 70px 0;
    }
    .footer-col{
    width: 25%;
    padding: 0 5vw;
    }
    .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    }
    .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    }
    .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
    }
    .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 18px;
    
    }
    .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    }